@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Recursive:wght@300..1000&display=swap');
@import "tailwindcss";
@config ".././tailwind.config.ts";

html {
    font-size: 62.5%;
}

body {
    font-family: 'Recursive', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
}